{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}<title>{{ title }}</title>{% endblock %}

{% block content %}


<div class="container">
    <div class="col-8 m-auto">
        <img src="{{ image }}" alt="{{ title }}" class="img-fluid"/>
    </div>
    <div class="d-flex align-items-end justify-content-between mb-3">
        <h1 class="m-0 p-0">{{ title }}</h1>
        <small class="text-muted">Posted: {{ created_at }}</small>
    </div>
    <p class="lead">{{ content }}</p>
    <div class="d-flex align-items-end justify-content-start">
        <p class="card-text pr-3 m-0 text-muted">Author: </p>
        <p class="card-text pr-2 m-0"><small class="text-muted">{{ author.full_name }}</small></p>
        <div style="max-width: 50px;">
            <img src="{% if author.photo %}{{ author.photo }}{% else %}{% static 'img/No-photo-m.png' %}{% endif %}"
                 class="img-thumbnail"
                 alt="author">
        </div>
    </div>
    {% if request.user.visitormodel %}
        <h5 class="mt-4">Leave a comment:</h5>
        <div class="col-5 m-auto">
            <form action="{% url 'post:comment-create' id %}" method="POST">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% elif request.user.is_staff %}
        <div class="alert alert-info mt-3" role="alert">
            Log in as a "Visitor" user to leave a comment!
        </div>
    {% else %}
        <div class="alert alert-info mt-3" role="alert">
            Log in to leave a comment!
        </div>
    {% endif %}
    <h5 class="my-4">Comments:</h5>
    <hr>
    {% with all_comments=comments %}
        {% for comment in all_comments %}
            <div class="media">
                <img src="{{ comment.author.photo }}" style="max-width: 64px;" class="mr-3" alt="author">
                <div class="media-body">
                    {{ comment.text }}
                    <p class="text-muted mt-3 mb-0">Author: {{ comment.author.full_name }}</p>
                    <p class="text-muted m-0"><small>Created: {{ comment.created_at }}</small></p>
                </div>
            </div>
            <hr>
        {% empty %}
            <p class="text-muted">No comments yet</p>
        {% endfor %}
    {% endwith %}
</div>

{% endblock %}